.mainPage {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.wineOfTheDay {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center; 
    align-items: center;
}

.myWines {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.myWinesButton {
    padding: 4px;
}

.myWinesButton h1 {
    margin: 0;
    font-size: 1.7rem;
}

.heading {
    text-decoration: underline;
    text-decoration-color: #9c0909;
    margin-top: 30px;
}

.wineImage {
    margin-top: 30px;
    border: 2px solid #9c0909;
    border-radius: 8px;
    width: 100%;           
    max-width: 300px;      
    height: auto;          
    object-fit: contain;
}

.wine {
    display: flex;
    flex-direction: column;
    border-style: solid;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    border: 2px solid #9c0909;
    border-radius: 8px;
    width: 80%; 
    max-width: 300px;
    height: auto;
    padding: 15px;
}

.wineReviewImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    justify-items: center;
    max-width: 700px;     /* limit width so it doesn't stretch */
    margin: 30px auto;
    margin-top: 15px;
}

.wineReviewImages img {
    width: 100px;
    height: auto;
    object-fit: cover;
    align-items: center;
}

.wineImageStars img {
    width: 80px;
    height: auto;
}

.placeYearDate {
    display: flex;
    justify-content: space-between;
    width: 90%;
}




