.myProfile {
    margin: 0 auto;
    padding: 20px;
}

.profileHeader {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #000;
}

.bioInfo {
    font-size: 1.2rem;
    line-height: 1.8;
}

.quoteBox {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    border: 2px solid #000;
    padding: 15px;
    height: 150px;
}

